/* Hoja de estilos en CSS */


/* Menu principal */

/* Titulos de paginas */
/*.page-header{margin: 0px; padding:0px; background-color: rgba(1, 1, 1, 0.1); background-attachment: fixed;}
*/
p.titulo{ 
	text-align: left; font-family: "Arial Black"; 
	padding-top: 8px;
}

 /* Subtitulos de paginas */
 
 


 /* Botones finales alineados a la izquierda */