/* Hoja de estilos en CSS */


/* Menu principal */

/* Titulos de paginas 
.page-header{margin: 0px; padding:0px; background-color: rgba(1, 1, 1, 0.1); background-attachment: fixed;}
.titulo{ text-align: left; font-family: "Arial Black"; height: 10px; padding-top: 2px;}

 /* Subtitulos de paginas */
 
 


 /* Botones finales alineados a la izquierda */